root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,py,js,vue,json,yml,yaml,xml,md,properties,toml}]
charset = utf-8

[*.md]
trim_trailing_whitespace = false

[*.{cmd,bat,ps1}]
end_of_line = crlf

